In [11]:
from pyspark.sql import SparkSession
from pandas import set_option

set_option('display.max.columns', None)

spark = SparkSession.builder.getOrCreate()

# spark.conf.set('spark.sql.session.timeZone', 'UTC')
# spark.conf.set('spark.sql.session.timeZone', 'America/New_York')

In [18]:
from pyspark.sql import DataFrame
from pyspark.sql.functions import from_utc_timestamp, to_utc_timestamp

def toTimezone(dataFrame: DataFrame, tz: str) -> DataFrame:
    for colName, dtype in dataFrame.dtypes:
        if dtype == 'timestamp':
            # dataFrame = dataFrame.withColumn(colName, from_utc_timestamp(colName, tz))
            dataFrame = dataFrame.withColumn(colName, to_utc_timestamp(colName, tz))
    
    return dataFrame

In [26]:
# cast(StatementDate as date)
statements = spark.read.parquet('/tmp/phone-calls/Statements')
# toTimezone(statements, 'America/New_York').write.mode('overwrite').parquet('/tmp/Statements')
statements.limit(5).toPandas()

,ReferenceNumber,JobNo,JobTier,StatementDate,DocumentHandle,ObjectID,CustVendorObjID,CustVendGroupObjID,CustVendGroupName,CustomerName,CID,CustVendName,CustVendNo,Volume,AccountsIdentified,Recon,EmailMessageID,CreatedDate,SRARObjectId,ZeroBalance
0,1224005,3188,1.0,2019-08-14,NaN,20513258,20513253,20513252,OHIO MEDICAL CORPORATION,OhioHealth Corporation,6261,OHIO MEDICAL CORPORATION,0040003215,100003.00,NaN,NaN,00000000F643DA057DBD124B829A30CFCF400C1507002B...,2019-08-14 11:18:01.353,NaN,NaN
1,1229524,3244,NaN,2019-08-14,NaN,20513265,20513264,20513263,SCRIPTPRO USA INC,Jackson Health System-CMS,4910,SCRIPTPRO USA INC,108370,738284.00,NaN,NaN,00000000F643DA057DBD124B829A30CFCF400C1507002B...,2019-08-14 11:18:26.637,NaN,NaN
2,1247505,3317,NaN,2019-08-14,NaN,20513268,20513267,20513266,CHROM TECH INC,Mayo Clinic,281,CHROM TECH INC,2846,9108143.52,NaN,NaN,00000000F643DA057DBD124B829A30CFCF400C1507002B...,2019-08-14 11:19:08.073,NaN,NaN
3,1248087,3317,NaN,2019-08-14,NaN,20513273,20513272,20513271,PERFICIENT INC,Mayo Clinic,281,PERFICIENT INC,742853258,949683.00,NaN,NaN,00000000F643DA057DBD124B829A30CFCF400C1507002B...,2019-08-14 11:19:43.393,NaN,NaN
4,1224005,3188,1.0,2019-08-14,NaN,20513254,20513253,20513252,OHIO MEDICAL CORPORATION,OhioHealth Corporation,6261,OHIO MEDICAL CORPORATION,0040003215,100003.00,NaN,NaN,00000000F643DA057DBD124B829A30CFCF400C1507002B...,2019-08-14 11:17:48.653,NaN,NaN

In [27]:
# cast(RequestDate as date)
# cast(LastActivityDate as date)
requests = spark.read.parquet('/tmp/phone-calls/StatementRequests')
# toTimezone(requests, 'America/New_York').write.mode('overwrite').parquet('/tmp/StatementRequests')
requests.limit(5).toPandas()

,JobNo,JobTier,CustomerName,CustVendorID,VendorNo,CustVendorGroupID,WNC,StatementWNC,VendorGroupName,Volume,VolumeTier,VolumeLast12,RequestDate,ReferenceNumber,Status,RequestMethod,RequestType,Contact,RequesterFullName,RequestText,LastActivityDate,LastStatementReceivedDate,CreatedDate,CallsheetNo,ObjectID,CallerStatus,ReconStatus,CurrentAssigneeID,CurrentAssigneeName,EnteredReconDate,LastReconQueueName,LastReconQueueEntryDate,AccountsReceived,AccountsRequested,MessageID,VendorContactObjectID,WebsiteVendor,WNCSpecialHandling,NeedLeadVendor,VendorGroupPrimaryAccountType
0,NaN,NaN,None,NaN,None,NaN,NaN,NaN,None,NaN,None,NaN,NaT,NaN,New,None,Caller,None,None,None,NaT,NaT,2022-05-05 15:41:16.783,None,47597380,None,None,NaN,None,NaT,None,NaT,NaN,NaN,None,NaN,NaN,NaN,NaN,None
1,3427.0,NaN,New Hanover Regional Medical Center,415960.0,16845,415959.0,NaN,NaN,A M COFFEE DISTRIBUTORS LLC,0.0,B,0.0,2020-07-24,1285660.0,Superceded,MassEmail,None,amcoffeedist@gmail.com,Jessica Rinehart,None,2020-07-24,NaT,2020-07-24 16:29:52.840,C-338914,26681846,None,None,19272454.0,Yodit Kahssai,NaT,None,NaT,NaN,NaN,None,NaN,NaN,NaN,NaN,None
2,3427.0,NaN,New Hanover Regional Medical Center,415960.0,16845,415959.0,NaN,NaN,A M COFFEE DISTRIBUTORS LLC,0.0,B,0.0,2020-07-31,1285660.0,Superceded,MassEmail,Mass 1,amcoffeedist@gmail.com,Jessica Rinehart,None,2020-07-31,NaT,2020-07-31 08:05:15.817,C-338914,26819776,None,None,19272454.0,Yodit Kahssai,NaT,None,NaT,NaN,NaN,None,NaN,NaN,NaN,NaN,None
3,3427.0,NaN,New Hanover Regional Medical Center,415960.0,16845,415959.0,NaN,NaN,A M COFFEE DISTRIBUTORS LLC,0.0,B,0.0,2021-01-19,1285660.0,Superceded,MassEmail,Caller,amcoffeedist@gmail.com,Jessica Rinehart,None,2020-07-31,NaT,2021-01-19 12:01:21.287,C-338914,30690711,Sent Authorization Letter,None,8398263.0,Rebekah Dykema,NaT,None,NaT,NaN,NaN,None,29510277.0,NaN,NaN,NaN,None
4,3427.0,NaN,New Hanover Regional Medical Center,415960.0,16845,415959.0,NaN,NaN,A M COFFEE DISTRIBUTORS LLC,0.0,B,0.0,2021-08-19,1285660.0,Superceded,MassEmail,Mass 1,amcoffeedist@gmail.com,Cindy Allen,None,2021-08-23,NaT,2021-08-23 00:03:52.047,C-338914,36365526,Sent Authorization Letter,None,8398263.0,Rebekah Dykema,NaT,None,NaT,NaN,NaN,hONrG5xpTUyiQB4Rs7gb0g,29510277.0,NaN,NaN,NaN,None

In [28]:
emails = spark.read.parquet('/tmp/phone-calls/StatementEmailDocs')
# toTimezone(emails, 'America/New_York').write.mode('overwrite').parquet('/tmp/StatementEmailDocs')
emails.limit(5).toPandas()

,DocumentHandle,DateCreated,MAILDateTime,MAILFromAddress,MAILToAddress,MAILCcAddress,MAILSubject,MAILMessageID,MAILAttachmentCount,S-Ref#,S-CustomerName,S-Job#,S-VendorName,S-CreatedByUser,S-SkipAutoReceive,S-Recon,S-LargeCredits,IngestionSource,S-StatementExistsInBatch
0,15594200,2019-06-12 09:22:11.947,2019-06-07 19:14:29,None,None,None,RE: STATEMENT REQUEST - FAIRVIEW HEALTH SERVIC...,00000000F643DA057DBD124B829A30CFCF400C1507002B...,11,1230333,None,NaN,None,None,None,None,None,None,None
1,15595567,2019-06-12 09:28:05.423,2019-06-07 19:14:17,None,None,None,RE: STATEMENT REQUEST (REF # 1190860),00000000F643DA057DBD124B829A30CFCF400C1507002B...,7,1190860,None,NaN,None,None,None,None,None,None,None
2,15595581,2019-06-12 09:40:03.420,2019-06-07 19:12:18,None,None,None,RE: INFORMATION REQUEST #1237232,00000000F643DA057DBD124B829A30CFCF400C1507002B...,2,1237232,None,NaN,None,None,None,None,None,None,None
3,15595588,2019-06-12 09:42:47.153,2019-06-07 19:15:58,None,None,None,REF#1157275 STATEMENT FROM PROVATION MEDICAL F...,00000000F643DA057DBD124B829A30CFCF400C1507002B...,2,1157275,None,NaN,None,None,None,None,None,None,None
4,15595595,2019-06-12 09:49:49.783,2019-06-07 19:15:37,None,None,None,RE: INFORMATION REQUEST #1217277,00000000F643DA057DBD124B829A30CFCF400C1507002B...,2,1217277,None,NaN,None,None,None,None,None,None,None

In [29]:
# cast(ActivityDate as date)
# ActivityUser = caller_name/callee_name
activities = spark.read.parquet('/tmp/phone-calls/StatementRequestActivityRecords')
# toTimezone(activities, 'America/New_York').write.mode('overwrite').parquet('/tmp/StatementRequestActivityRecords')
activities.limit(5).toPandas()

,ObjectID,CreatedDate,ReferenceNumber,CustomerVendorName,JobNumber,JobName,ContactType,ActivityUser,ActivityDate,FollowUpDate,STNID,Notes,Outcome,ActivityType,CustVendorObjectID,VendorContactObjectID,StatementRequestObjectID,CreatedBy,MessageID
0,42373858,2022-02-14 10:29:14.410,1204872,ONTARGETJOBS INC,3056,Sutter Health - 3056,None,Workflow Service,2022-02-14,NaT,NaN,None,Sent Authorization Letter,None,15863298,31446300,42372122,SVC_WORKFLOW,lo0kpojVRpK63Q0-tZt9FQ
1,42373853,2022-02-14 10:29:08.107,1281223,CARDIVA MEDICAL INC,3320,Dignity Health - 3320,None,Deborah Murphy,2022-02-14,NaT,NaN,None,None,None,26215461,29600706,36587007,DMURPHY,None
2,42373905,2022-02-14 10:30:21.083,1331383,"EDGE INFORMATION MANAGEMENT, INC.",4056,"Health First, Inc. - 4056",None,Jessica Rinehart,2022-02-14,NaT,NaN,None,None,None,42352516,42355958,42357889,JRINEHART,None
3,42374642,2022-02-14 10:43:59.057,1242775,FAVORITE NURSES FAVORITE TEMPS,3319,Catholic Health Initiatives - 3319,None,Deborah Murphy,2022-02-14,NaT,NaN,None,None,None,3490272,31401710,37795162,DMURPHY,None
4,42374788,2022-02-14 10:45:59.810,1324919,ARTHREX,4053,Hospital Sisters Health System - 4053,None,Dulce Reyes-Loredo,2022-02-14,NaT,NaN,None,None,None,41967124,41967126,41967127,DRLOREDO,None

In [34]:
from pyspark.sql.functions import desc

(
    activities
    .groupBy('ActivityType')
    .count()
    .orderBy(desc('count'))
    .toPandas()
)

            ActivityType    count
0                   None  1968056
1          Called Vendor   191725
2              Note Only    73795
3  Received Call / Email    11746
4         Emailed Vendor     9917

In [36]:
from pyspark.sql.functions import col

activities.where(col('ActivityType') == 'Called Vendor').limit(5).toPandas()

,ObjectID,CreatedDate,ReferenceNumber,CustomerVendorName,JobNumber,JobName,ContactType,ActivityUser,ActivityDate,FollowUpDate,STNID,Notes,Outcome,ActivityType,CustVendorObjectID,VendorContactObjectID,StatementRequestObjectID,CreatedBy,MessageID
0,42736265,2022-02-24 10:07:49.640,1310040,CONVERGEONE SYSTEMS,3405,Nuvance Health - 3405,None,Xavier Baron,2022-02-24,NaT,NaN,None,Sent Authorization Letter,Called Vendor,36146030,39069841,39069842,XBARON,is_NgmwHQNu7b5DMLrDgnA
1,42833727,2022-03-01 18:00:49.757,1317378,POSTAGE ONE,3818,Kaiser Permanente - 3818,None,Annie Lewis,2022-03-01,NaT,NaN,None,Left Voicemail,Called Vendor,38277181,38311603,38381224,ALEWIS,None
2,42842863,2022-03-02 09:23:01.377,1274179,HCTEC LLC,3354,Advocate Aurora Health - 3354,None,Carla Roark,2022-03-02,NaT,NaN,None,None,Called Vendor,22386884,41494854,39304501,CROARK,kaLDwG5nS_21n_BQ165W0g
3,43225732,2022-03-07 14:09:39.830,1315238,AXOGEN CORPORATION,3936,Phoenix Children's Hospital - 3936,None,Deborah Murphy,2022-03-07,NaT,NaN,None,Will Not Comply,Called Vendor,37697296,37699194,38401796,DMURPHY,None
4,43225802,2022-03-07 14:10:28.970,1305792,AXOGEN/AXOGEN INC,3835,Methodist Health System - 3835,None,Deborah Murphy,2022-03-07,NaT,NaN,None,Will Not Comply,Called Vendor,33922138,33922140,39102618,DMURPHY,None

In [39]:
from pyspark.sql.functions import desc

(
    activities
    .where(col('ActivityType') == 'Called Vendor')
    .groupBy('ActivityUser')
    .count()
    .orderBy(desc('count'))
    .show(truncate=False)
)

+------------------+-----+
|ActivityUser      |count|
+------------------+-----+
|Carla Roark       |21750|
|Annie Lewis       |17441|
|Yodit Kahssai     |17338|
|Becky Williams    |17028|
|Jamie Spurlock    |16553|
|Josephine Dagher  |15495|
|Chenoa Marklevitz |14190|
|Cierra Kilpatrick |11049|
|Dulce Reyes-Loredo|10656|
|Charley Taylor    |8960 |
|Xavier Baron      |7575 |
|Alexander Lee     |7099 |
|Toni Engle        |5773 |
|Ashton Sower      |5746 |
|Briana Louck      |3168 |
|Deborah Murphy    |2938 |
|Kelly Fedele      |1928 |
|Christy Brooks    |1536 |
|Tania Azer        |1490 |
|Melissa Cullen    |1268 |
+------------------+-----+
only showing top 20 rows

In [30]:
vendors = spark.read.parquet('/tmp/phone-calls/VendorContacts')
# toTimezone(vendors, 'America/New_York').write.mode('overwrite').parquet('/tmp/VendorContacts')
vendors.limit(5).toPandas()

,CustVendorGroupNo,CustVendorNo,ContactType,TypePreferredContact,LastName,FirstName,FullName,Email,Phone,Fax,Title,Note,ExternalID,BSAPVCID,CID,CustomerName,CVObjectID,CustObjectID,ObjectID,CreatedDate,CreatedBy,BSAPVendorObjectID
0,52891,1192,Accounts Receivable,NaN,None,None,None,InvoiceInquiries@PremierInc.com,None,None,None,None,None,NaN,15249,Stanly Regional,412893,194771,1016896,2016-08-15 08:27:25.537,DKUESTER,1016896
1,50771,650,Accounts Receivable,NaN,None,None,None,Tabbie.Alvarado@henryschein.com,None,None,None,None,None,NaN,15249,Stanly Regional,408624,194771,1016899,2016-08-15 08:33:35.630,DKUESTER,1016899
2,53889,1521,Accounts Receivable,NaN,None,None,None,theracomar@icsconnect.com,(888) 882-9942,None,None,None,None,NaN,15249,Stanly Regional,414897,194771,1016843,2016-08-10 13:30:07.430,DKUESTER,1016843
3,80931,782,Accounts Receivable,NaN,Hanrahan,Lynne,Lynne Hanrahan,Lynne.hanrahan@esi.net,(757) 217-1381,None,Assistant Controller,None,None,NaN,2406,Sentara Healthcare,522962,515060,1017021,2016-08-24 11:01:55.053,DKUESTER,1017021
4,77228,103762,Accounts Receivable,NaN,None,None,None,scoleman@ajccpas.com,(804) 347-8839,None,None,None,None,NaN,2406,Sentara Healthcare,515472,515060,1017024,2016-08-24 11:04:54.023,DKUESTER,1017024

In [171]:
import sys
# https://pypi.org/project/phonenumbers/
!{sys.executable} -m pip install phonenumbers

In [236]:
from pyspark.sql.functions import udf
from typing import Optional
import phonenumbers

@udf(returnType='string')
def parsePhoneNumber(number: Optional[str], region: str='US') -> Optional[str]:
    try:
        phoneNumber = phonenumbers.parse(number, region)
        return phonenumbers.format_number(phoneNumber, phonenumbers.PhoneNumberFormat.NATIONAL)
    except:
        return None

In [257]:
%%time
from pyspark.sql.functions import col, length, regexp_replace, when

column = when(col('PhoneNumber').rlike(r'\(\d+\) \d+-\d+'), col('PhoneNumber')).otherwise(None)

(
    vendors
    .where('Phone is not null')
    .withColumn('PhoneNumber', regexp_replace('Phone', '^([^0-9]+)', ''))
    .withColumn('PhoneNumber', regexp_replace('PhoneNumber', '\s+(?=[^0-9])(.*)', ''))
    .withColumn('PhoneNumber', parsePhoneNumber('PhoneNumber'))
    .withColumn('PhoneNumber', column)
    .selectExpr(
        'ObjectID as ID',
        'Phone',
        'PhoneNumber'
    )
    .write
    .mode('overwrite')
    .parquet('/tmp/phoneNumbers')
    # .where('PhoneNumber is not null')
    # .where('length(PhoneNumber) != 14')
    # .sample(fraction=1e-2)
    # .show(truncate=False)
    # .toPandas()
    # .to_csv('/tmp/phoneNumbers.csv', index=False)
)

CPU times: user 11.2 ms, sys: 4.44 ms, total: 15.7 ms
Wall time: 1min

In [260]:
(
    spark
    .read
    .parquet('/tmp/phoneNumbers')
    # .where('PhoneNumber is not null')
    # .where(~col('PhoneNumber').rlike(r'\(\d+\) \d+-\d+'))
    # .show(truncate=False)
    .where('PhoneNumber is null')
    .show()
)

+--------+----------------+-----------+
|      ID|           Phone|PhoneNumber|
+--------+----------------+-----------+
| 3653206|609-383-1400 108|       null|
| 6227837|    678_319_8995|       null|
| 6258091|1 (800) 775-3772|       null|
| 6258116|201 - 791 - 0606|       null|
| 8541649|     76164751400|       null|
| 9219056|1 (801) 208-4147|       null|
|10372676|1 (781) 790-0826|       null|
|22595461| (800) 5440-8054|       null|
|29507201|      1800242278|       null|
|29507228|      1855437572|       null|
|29507571|    180-077-7725|       null|
|29507637|      1888474783|       null|
|29507642|      1800768200|       null|
|29507796|      1800258536|       null|
|29509912|  (443) 92--2291|       null|
|29510311|  888-HEAL-2-DAY|       null|
|29510661|          ( )  -|       null|
|29507974|      1650962884|       null|
|29511033|     none listed|       null|
|29511190|  (877) 43--4217|       null|
+--------+----------------+-----------+
only showing top 20 rows

In [31]:
employees = spark.read.parquet('/tmp/phone-calls/Employees')
# toTimezone(employees, 'America/New_York').write.mode('overwrite').parquet('/tmp/Employees')
employees.limit(5).toPandas()

,ID,OnBaseUserName,BSAPUserName,Email,FirstName,LastName,FullName,Title,Phone,PrimaryRoleName,PodId,NamedClient,NamedWF/WV,Active,PodName,ManagerName,EmployeeID,HireDate,HRManagerFullName,HR-ManagerObjectID,HR-ManagerOnBaseUserName,HR-ManagerLastName,HR-ManagerFirstName,BSAPSID,CreatedBy,CreatedDate
0,194728,APRINS,aprins,aprins@spendmend.com,Andi,Prins,Andi Prins,None,616-257-6362,Audit Supervisor,14499753.0,1,1,1,Gold,Travis Wheeler,459,1998-04-26 20:00:00,Travis Wheeler,194747,TWHEELER,Wheeler,Travis,89,MANAGER,2016-07-06 04:32:19.777
1,194729,BVANGOOR,BVangoor,bvangoor@spendmend.com,Bob,VanGoor,Bob VanGoor,None,616-257-6306,Audit Supervisor,14497464.0,1,1,1,Red,Dan Hutchins,202,1993-12-31 19:00:00,Dan Hutchins,194732,DHUTCHINS,Hutchins,Dan,91,MANAGER,2016-07-06 04:32:20.107
2,194730,CKRETOWICZ,ckretowicz,ckretowicz@spendmend.com,Colleen,Kretowicz,Colleen Kretowicz,None,616-257-6398,Audit Supervisor,14499753.0,1,1,1,Gold,Travis Wheeler,1390,2015-07-05 20:00:00,Travis Wheeler,194747,TWHEELER,Wheeler,Travis,596,MANAGER,2016-07-06 04:32:20.153
3,194731,CALLEN,callen,callen@spendmend.com,Cindy,Allen,Cindy Allen,None,616-257-6377,WNC Auditor,NaN,1,1,1,None,None,1432,2007-01-07 19:00:00,Rob Heminger,12611480,RHEMINGER,Heminger,Rob,402,MANAGER,2016-07-06 04:32:20.200
4,194732,DHUTCHINS,dhutchins,dhutchins@spendmend.com,Dan,Hutchins,Dan Hutchins,None,616-257-6317,Audit Manager,14497464.0,1,1,1,Red,Dan Hutchins,206,1995-09-17 20:00:00,Joshua Kiel,194739,JKIEL1,Kiel,Joshua,100,MANAGER,2016-07-06 04:32:20.230

In [52]:
# Christy Brooks -> Christine Brooks
# Becky Dykema -> Rebekah Dykema
# Joshua Hernandez -> Josh Hernandez
(
    activities
    .where(col('ActivityType') == 'Called Vendor')
    .groupBy('ActivityUser')
    .count()
    .join(
        employees,
        on=activities['ActivityUser'] == employees['FullName'],
        # how='left_semi'
        how='left_anti'
    )
    .orderBy(desc('count'))
    .show()
)

+----------------+-----+
|    ActivityUser|count|
+----------------+-----+
|  Christy Brooks| 1536|
|  Melissa Cullen| 1268|
|Joshua Hernandez|    4|
|Workflow Service|    2|
|         jdagher|    1|
|           MPOLO|    1|
|  Andrette Prins|    1|
|    Becky Dykema|    1|
|     ExcelUpdate|    1|
+----------------+-----+

In [49]:
activities.where(col('ActivityUser') == 'Melissa Cullen').limit(5).toPandas()

,ObjectID,CreatedDate,ReferenceNumber,CustomerVendorName,JobNumber,JobName,ContactType,ActivityUser,ActivityDate,FollowUpDate,STNID,Notes,Outcome,ActivityType,CustVendorObjectID,VendorContactObjectID,StatementRequestObjectID,CreatedBy,MessageID
0,29855649,2020-12-21 12:55:03.690,1197784,None,NaN,None,None,Melissa Cullen,2020-11-20,NaT,6234920,None,None,None,1132664,NaN,NaN,SVC_WORKFLOW,None
1,29855910,2020-12-21 12:55:31.980,1197903,None,NaN,None,None,Melissa Cullen,2020-11-25,NaT,6244441,None,None,None,1136907,NaN,NaN,SVC_WORKFLOW,None
2,29856146,2020-12-21 12:55:56.520,1197987,None,NaN,None,None,Melissa Cullen,2020-11-25,NaT,6244342,None,None,None,1136648,NaN,NaN,SVC_WORKFLOW,None
3,29856830,2020-12-21 12:57:08.630,1197807,None,NaN,None,None,Melissa Cullen,2020-11-23,NaT,6236907,None,None,None,1133706,NaN,NaN,SVC_WORKFLOW,None
4,29856228,2020-12-21 12:56:05.333,1197791,None,NaN,None,None,Melissa Cullen,2020-11-20,NaT,6234921,None,None,None,1133420,NaN,NaN,SVC_WORKFLOW,None

In [32]:
calls = spark.read.parquet('/tmp/phone-calls/AccountCallLogs')
calls.limit(5).toPandas()

,next_page_token,page_size,total_records,from,to,id,user_id,call_type,caller_number,caller_number_type,caller_name,caller_number_source,callee_number,caller_location,callee_number_type,callee_number_source,callee_location,callee_name,direction,duration,result,waiting_time,date_time,path,has_recording,charge,voice_mail_id,has_voicemail,rate,call_id,owner_type,owner_id,owner_name,owner_extension_number,caller_did_number,caller_country_code,caller_country_iso_code,callee_did_number,callee_country_code,callee_country_iso_code,answer_start_time,call_end_time
0,MNI3JNNEPEyFrnxeuneeLaoRqOrnm1XNOQ2,300,2530,2022-05-09,2022-05-12,34bfc3eb-7180-4c83-b61b-345d084f72b1,d9JiQ8qqTcCh6bfVo2YIYw,pstn,255,1,Nicole Thompson,None,+18287377552,None,2,internal,"Newland, NC",None,outbound,0,Call Cancel,NaN,2022-05-11 15:36:35,pstn,False,NaN,None,False,NaN,7096626840318811841,user,d9JiQ8qqTcCh6bfVo2YIYw,Nicole Thompson,255,+16167290255,1,US,+18287377552,1,US,NaT,2022-05-11 15:38:41
1,MNI3JNNEPEyFrnxeuneeLaoRqOrnm1XNOQ2,300,2530,2022-05-09,2022-05-12,d3d79bc4-22cd-4936-9889-e10f815f45ba,None,voip,+16162081843,2,Amerisave,internal,300,None,1,None,None,Main Auto Receptionist,inbound,0,No Answer,NaN,2022-05-11 15:28:25,autoReceptionist,False,NaN,None,False,NaN,7096624731490955678,autoReceptionist,fK99-uaJRnG8yW-b9B4-9g,Main Auto Receptionist,300,None,1,US,+16162576300,1,US,NaT,NaT
2,MNI3JNNEPEyFrnxeuneeLaoRqOrnm1XNOQ2,300,2530,2022-05-09,2022-05-12,2b8ca4c8-7adc-436a-a2b5-17b0aea69a20,None,voip,+15165658083,2,None,internal,300,Garden City NY,1,None,None,Main Auto Receptionist,inbound,0,No Answer,NaN,2022-05-11 15:21:14,autoReceptionist,False,NaN,None,False,NaN,7096622880360005894,autoReceptionist,fK99-uaJRnG8yW-b9B4-9g,Main Auto Receptionist,300,None,1,US,+16162576300,1,US,NaT,NaT
3,MNI3JNNEPEyFrnxeuneeLaoRqOrnm1XNOQ2,300,2530,2022-05-09,2022-05-12,fbc302fc-4082-4cb5-bb06-f99b603f3392,1avZmyzLRzu2AInJp75T1Q,voip,+12312656202,2,2312656202,internal,226,None,1,None,None,Jessica Osborn,inbound,0,No Answer,NaN,2022-05-11 15:00:02,pstn,False,NaN,None,False,NaN,7096617421447184140,user,1avZmyzLRzu2AInJp75T1Q,Jessica Osborn,226,None,1,US,+16162572026,1,US,NaT,NaT
4,MNI3JNNEPEyFrnxeuneeLaoRqOrnm1XNOQ2,300,2530,2022-05-09,2022-05-12,a0d06ee4-4472-40f6-a793-2edadca307f6,bkasEu6zRz2YKurlHXnIqw,voip,+17022280222,2,RR Partners,internal,208,None,1,None,None,Jessica Caggiano,inbound,0,No Answer,NaN,2022-05-11 14:47:33,pstn,False,NaN,None,False,NaN,7096614200270916926,user,bkasEu6zRz2YKurlHXnIqw,Jessica Caggiano,208,None,1,US,+16162572008,1,US,NaT,NaT

In [66]:
from pyspark.sql.functions import length

(
    calls
    .where(col('direction') == 'outbound')
    .groupBy('callee_number')
    .count()
    .withColumn('_length', length('callee_number'))
    .orderBy(desc('count'))
    .show(truncate=False)
)

+-------------+-----+-------+
|callee_number|count|_length|
+-------------+-----+-------+
|+12313356262 |98   |12     |
|+16465588656 |8    |12     |
|+18008887436 |7    |12     |
|+13202512700 |6    |12     |
|+18003283021 |6    |12     |
|+18009921776 |5    |12     |
|+19894226798 |5    |12     |
|+19074433319 |4    |12     |
|+18777474234 |4    |12     |
|+18664004738 |4    |12     |
|+16109947500 |4    |12     |
|+18004569756 |4    |12     |
|+16169169758 |4    |12     |
|+18007891567 |4    |12     |
|+14699916220 |4    |12     |
|+18002874903 |4    |12     |
|+17208877000 |3    |12     |
|+18005538998 |3    |12     |
|+18668848455 |3    |12     |
|+18444282667 |3    |12     |
+-------------+-----+-------+
only showing top 20 rows

In [67]:
from pyspark.sql.functions import length

(
    calls
    .where(col('direction') == 'outbound')
    .withColumn('_length', length('callee_number'))
    .groupBy('_length')
    .count()
    .orderBy(desc('count'))
    .show(truncate=False)
)

+-------+-----+
|_length|count|
+-------+-----+
|12     |2170 |
|3      |20   |
|11     |6    |
|13     |4    |
|18     |1    |
+-------+-----+

In [72]:
(
    calls
    .where(col('direction') == 'outbound')
    .withColumn('_length', length('callee_number'))
    # .where(col('_length') == 3) # three digit extension numbers internal
    # .where(col('_length') == 18) # three digit extension numbers internal
    .limit(5)
    .toPandas()
)

,next_page_token,page_size,total_records,from,to,id,user_id,call_type,caller_number,caller_number_type,caller_name,caller_number_source,callee_number,caller_location,callee_number_type,callee_number_source,callee_location,callee_name,direction,duration,result,waiting_time,date_time,path,has_recording,charge,voice_mail_id,has_voicemail,rate,call_id,owner_type,owner_id,owner_name,owner_extension_number,caller_did_number,caller_country_code,caller_country_iso_code,callee_did_number,callee_country_code,callee_country_iso_code,answer_start_time,call_end_time,_length
0,MNI3JNNEPEyFrnxeuneeLaoRqOrnm1XNOQ2,300,2530,2022-05-09,2022-05-12,34bfc3eb-7180-4c83-b61b-345d084f72b1,d9JiQ8qqTcCh6bfVo2YIYw,pstn,255,1,Nicole Thompson,None,+18287377552,None,2,internal,"Newland, NC",None,outbound,0,Call Cancel,NaN,2022-05-11 15:36:35,pstn,False,NaN,None,False,NaN,7096626840318811841,user,d9JiQ8qqTcCh6bfVo2YIYw,Nicole Thompson,255,+16167290255,1,US,+18287377552,1,US,NaT,2022-05-11 15:38:41,12
1,MNI3JNNEPEyFrnxeuneeLaoRqOrnm1XNOQ2,300,2530,2022-05-09,2022-05-12,44c99581-eb3c-49cf-8778-188f64b533a4,GkO02-yQQ9yqSCG1SasY4w,pstn,353,1,Carla Roark,None,+18004173747,None,2,internal,United States,None,outbound,12,Call connected,NaN,2022-05-11 14:09:01,pstn,False,NaN,None,False,NaN,7096604274560694085,user,GkO02-yQQ9yqSCG1SasY4w,Carla Roark,353,+16162576353,1,US,+18004173747,1,US,NaT,2022-05-11 14:09:16,12
2,MNI3JNNEPEyFrnxeuneeLaoRqOrnm1XNOQ2,300,2530,2022-05-09,2022-05-12,2fefde76-13da-4e6d-b2ce-1ff0447a93b5,GkO02-yQQ9yqSCG1SasY4w,pstn,353,1,Carla Roark,None,+16022880031,None,2,internal,"Phoenix, AZ",None,outbound,102,Call connected,NaN,2022-05-11 14:05:58,pstn,False,NaN,None,False,NaN,7096603488581639478,user,GkO02-yQQ9yqSCG1SasY4w,Carla Roark,353,+16162576353,1,US,+16022880031,1,US,NaT,2022-05-11 14:08:18,12
3,MNI3JNNEPEyFrnxeuneeLaoRqOrnm1XNOQ2,300,2530,2022-05-09,2022-05-12,121c3da2-fef4-4f9e-a37a-03435197a3b5,GkO02-yQQ9yqSCG1SasY4w,pstn,353,1,Carla Roark,None,+16022880060,None,2,internal,"Phoenix, AZ",None,outbound,8,Call connected,NaN,2022-05-11 14:05:20,pstn,False,NaN,None,False,NaN,7096603325372865252,user,GkO02-yQQ9yqSCG1SasY4w,Carla Roark,353,+16162576353,1,US,+16022880060,1,US,NaT,2022-05-11 14:05:40,12
4,MNI3JNNEPEyFrnxeuneeLaoRqOrnm1XNOQ2,300,2530,2022-05-09,2022-05-12,0be7574d-82d7-40b6-bf86-b8aa4268d9fe,-6jgSVmuQxmukeufp3KDbA,pstn,239,1,Cierra Kilpatrick,None,+18004311055,None,2,internal,United States,None,outbound,8,Call connected,NaN,2022-05-11 14:04:48,pstn,False,NaN,None,False,NaN,7096603187933966035,user,-6jgSVmuQxmukeufp3KDbA,Cierra Kilpatrick,239,+16162572039,1,US,+18004311055,1,US,NaT,2022-05-11 14:04:58,12

In [ ]:
(
    calls
    .where(col('direction') == 'outbound')
    .groupBy('callee_name')
    .count()
    .orderBy(desc('count'))
    .show(truncate=False)
)

In [16]:
# outbound; caller_name matches employees

(
    calls
    .join(
        employees,
        on=calls['caller_name'] == employees['FullName'],
        how='left_semi'
    )
    .groupBy('direction')
    .count()
    .show()
)

+---------+-----+
|direction|count|
+---------+-----+
| outbound| 2132|
|  inbound|   15|
+---------+-----+

In [20]:
from pyspark.sql.functions import col, desc

(
    calls.where(col('direction') == 'outbound')
    .join(
        employees,
        on=calls['caller_name'] == employees['FullName'],
        how='left_anti'
    )
    .groupBy('caller_name')
    .count()
    .orderBy(desc('count'))
    .toPandas()
)

           caller_name  count
0               J Boyd     45
1           Tim Jacobs     15
2       Nick VanTuinen      6
3  pshay@spendmend.com      2
4           Spoof User      1

In [54]:
employees.where(col('FullName').contains('Boyd')).toPandas()

,ID,OnBaseUserName,BSAPUserName,Email,FirstName,LastName,FullName,Title,Phone,PrimaryRoleName,PodId,NamedClient,NamedWF/WV,Active,PodName,ManagerName,EmployeeID,HireDate,HRManagerFullName,HR-ManagerObjectID,HR-ManagerOnBaseUserName,HR-ManagerLastName,HR-ManagerFirstName,BSAPSID,CreatedBy,CreatedDate
0,16808936,JBOYD2,jboyd2,jboyd2@spendmend.com,Jealisa,Boyd,Jealisa Boyd,None,(616) 588-8269,Statement Caller,15687224,1,1,1,Grey,Eric Florance,2377,2019-02-10 19:00:00,Eric Florance,194736,eflorance,Florance,Eric,759,JFOX,2018-10-23 07:31:04.400

In [55]:
employees.groupBy('PrimaryRoleName').count().orderBy(desc('count')).show(truncate=False)

+--------------------+-----+
|PrimaryRoleName     |count|
+--------------------+-----+
|Project Audit       |86   |
|null                |51   |
|Statement Caller    |47   |
|Pharmacy            |38   |
|Research Analyst    |33   |
|Statement Audit     |26   |
|Audit Supervisor    |26   |
|Sales and Marketing |17   |
|Information Systems |17   |
|Recon               |13   |
|Audit Manager       |11   |
|Project Audit 2     |11   |
|WNC Auditor         |10   |
|Intern/Project Audit|9    |
|Management          |8    |
|Statement Admin     |8    |
|Credit Caller       |7    |
|Analytics           |6    |
|Scrub               |6    |
|Med Device          |5    |
+--------------------+-----+
only showing top 20 rows

In [57]:
(
    employees
    .join(
        # calls.where(col('direction') == 'outbound'),
        calls,
        on=calls['caller_name'] == employees['FullName'],
        how='left_semi'
    )
    .groupBy('PrimaryRoleName')
    .count()
    .orderBy(desc('count'))
    .toPandas()
)

        PrimaryRoleName  count
0      Statement Caller     15
1         Project Audit      9
2      Audit Supervisor      4
3           WNC Auditor      4
4       Statement Audit      3
5         Audit Manager      2
6         Credit Caller      2
7   Information Systems      2
8       Project Audit 2      2
9       Statement Admin      1
10           Management      1
11                   HR      1
12                 None      1
13  Sales and Marketing      1
14           Med Device      1
15             Pharmacy      1
16           IT Support      1
17                Scrub      1
18              Support      1

In [33]:
calls.where(col('caller_name').contains('Boyd')).limit(5).toPandas()

,next_page_token,page_size,total_records,from,to,id,user_id,call_type,caller_number,caller_number_type,caller_name,caller_number_source,callee_number,caller_location,callee_number_type,callee_number_source,callee_location,callee_name,direction,duration,result,waiting_time,date_time,path,has_recording,charge,voice_mail_id,has_voicemail,rate,call_id,owner_type,owner_id,owner_name,owner_extension_number,caller_did_number,caller_country_code,caller_country_iso_code,callee_did_number,callee_country_code,callee_country_iso_code,answer_start_time,call_end_time
0,xbFx62mEX9DlIRuMCcTmRDuMZdTbELV2A33,300,2530,2022-05-09,2022-05-12,0988853e-da22-4b63-9492-82f8afa1ee2f,fdgFL7fDSdCTTAeXeIUTFA,pstn,269,1,J Boyd,None,+12312234748,None,2,internal,"Traverse City, MI",None,outbound,0,Call Cancel,NaN,2022-05-11 16:58:33,pstn,False,NaN,None,False,NaN,7096524267909850988,user,fdgFL7fDSdCTTAeXeIUTFA,J Boyd,269,+16162576300,1,US,+12312234748,1,US,NaT,2022-05-11 16:58:46
1,xbFx62mEX9DlIRuMCcTmRDuMZdTbELV2A33,300,2530,2022-05-09,2022-05-12,0fec4753-a28e-4c62-9684-49828e7d6903,fdgFL7fDSdCTTAeXeIUTFA,pstn,269,1,J Boyd,None,+18004444729,None,2,internal,United States,None,outbound,70,Call connected,NaN,2022-05-11 16:54:00,pstn,False,NaN,None,False,NaN,7096523095383798217,user,fdgFL7fDSdCTTAeXeIUTFA,J Boyd,269,+16162576300,1,US,+18004444729,1,US,NaT,2022-05-11 16:55:11
2,xbFx62mEX9DlIRuMCcTmRDuMZdTbELV2A33,300,2530,2022-05-09,2022-05-12,686bd158-b983-4372-941d-579b2316af1f,fdgFL7fDSdCTTAeXeIUTFA,pstn,269,1,J Boyd,None,+16305773100,None,2,internal,Illinois,None,outbound,0,Call Cancel,NaN,2022-05-11 16:43:33,pstn,False,NaN,None,False,NaN,7096520402439299085,user,fdgFL7fDSdCTTAeXeIUTFA,J Boyd,269,+16162576300,1,US,+16305773100,1,US,NaT,2022-05-11 16:43:52
3,xbFx62mEX9DlIRuMCcTmRDuMZdTbELV2A33,300,2530,2022-05-09,2022-05-12,c1d46d22-6dc3-4720-ae34-7107384d1226,fdgFL7fDSdCTTAeXeIUTFA,pstn,269,1,J Boyd,None,+18009813355,None,2,internal,United States,None,outbound,23,Call connected,NaN,2022-05-11 16:38:38,pstn,False,NaN,None,False,NaN,7096519135423953314,user,fdgFL7fDSdCTTAeXeIUTFA,J Boyd,269,+16162576300,1,US,+18009813355,1,US,NaT,2022-05-11 16:39:03
4,xbFx62mEX9DlIRuMCcTmRDuMZdTbELV2A33,300,2530,2022-05-09,2022-05-12,ff5c7546-731e-4012-810f-8c5c25f248c8,fdgFL7fDSdCTTAeXeIUTFA,pstn,269,1,J Boyd,None,+18002747799,None,2,internal,United States,None,outbound,314,Call connected,NaN,2022-05-11 16:33:00,pstn,False,NaN,None,False,NaN,7096517683724989423,user,fdgFL7fDSdCTTAeXeIUTFA,J Boyd,269,+16162576300,1,US,+18002747799,1,US,NaT,2022-05-11 16:38:16

In [39]:
# vendors.where(col('FullName').contains('Boyd')).toPandas()

In [20]:
# (
#     statements
#     .drop('ObjectID')
#     .withColumnRenamed('ReferenceNumber', 'StatementReferenceNumber')
#     .withColumnRenamed('CreatedDate', 'StatementCreatedDate')
# )

In [24]:
from pyspark.sql.functions import desc

(
    statements
    .groupBy('ReferenceNumber')
    .count()
    .where('count < 6')
    .orderBy(desc('count'))
    .show(5)
)

+---------------+-----+
|ReferenceNumber|count|
+---------------+-----+
|        1257894|    5|
|        1262666|    5|
|        1050006|    5|
|        1178063|    5|
|        1245716|    5|
+---------------+-----+
only showing top 5 rows

In [26]:
from pyspark.sql.functions import approx_count_distinct

(
    statements
    .groupBy('ReferenceNumber')
    .agg(approx_count_distinct('SRARObjectID').alias('Activities'))
    .orderBy(desc('Activities'))
    .show(5)
)

+---------------+----------+
|ReferenceNumber|Activities|
+---------------+----------+
|        1252434|         3|
|        1225139|         3|
|        1270511|         3|
|        1270386|         2|
|        1190343|         2|
+---------------+----------+
only showing top 5 rows

In [50]:
# SRARObjectID - StatementRequestActivityRecords
# max(SRARObjectID) eq max(CreatedDate)
(
    statements
    .where('ReferenceNumber = 1225139')
    .where('SRARObjectID is not null')
    .orderBy('CreatedDate')
    .toPandas()
)

,ReferenceNumber,JobNo,JobTier,StatementDate,DocumentHandle,ObjectID,CustVendorObjID,CustVendGroupObjID,CustVendGroupName,CustomerName,CID,CustVendName,CustVendNo,Volume,AccountsIdentified,Recon,EmailMessageID,CreatedDate,SRARObjectId,ZeroBalance
0,1225139,3177,2,2021-09-03,17708103,36875445,17976586,17976585,LABORATORY CORPORATION,UC Health,1658,LABORATORY CORPORATION,100015435,3147413.37,1,0,895C44E8-2605-4265-9EBD-19FA9B0370B6,2021-09-03 11:59:26.877,36165302,NaN
1,1225139,3177,2,2021-09-09,17720164,37204265,17976586,17976585,LABORATORY CORPORATION,UC Health,1658,LABORATORY CORPORATION,100015435,3147413.37,1,0,A95B317D-9623-4727-939C-608BAEE64633,2021-09-09 09:14:22.097,36516658,NaN
2,1225139,3177,2,2021-09-09,17720179,37204478,17976586,17976585,LABORATORY CORPORATION,UC Health,1658,LABORATORY CORPORATION,100015435,3147413.37,1,0,A95B317D-9623-4727-939C-608BAEE64633,2021-09-09 09:16:51.653,36516658,NaN
3,1225139,3177,2,2021-09-09,17720181,37204519,17976586,17976585,LABORATORY CORPORATION,UC Health,1658,LABORATORY CORPORATION,100015435,3147413.37,1,0,A95B317D-9623-4727-939C-608BAEE64633,2021-09-09 09:17:20.843,36516658,NaN
4,1225139,3177,2,2021-09-09,17720182,37204528,17976586,17976585,LABORATORY CORPORATION,UC Health,1658,LABORATORY CORPORATION,100015435,3147413.37,1,0,A95B317D-9623-4727-939C-608BAEE64633,2021-09-09 09:17:24.393,36516658,NaN
5,1225139,3177,2,2021-09-17,17750004,37520591,17976586,17976585,LABORATORY CORPORATION,UC Health,1658,LABORATORY CORPORATION,100015435,3147413.37,1,0,C0684386-3C8E-496E-80DC-2A6E88C282D5,2021-09-17 14:55:49.860,36800451,NaN

In [36]:
(
    statements
    .where('SRARObjectID is not null')
    .groupBy('ReferenceNumber', 'SRARObjectID')
    .agg(approx_count_distinct('EmailMessageID').alias('Messages'))
    .orderBy(desc('Messages'))
    .show(20)
)

+---------------+------------+--------+
|ReferenceNumber|SRARObjectID|Messages|
+---------------+------------+--------+
|        1253245|    36876948|      19|
|        1224030|    38342177|      10|
|        1188943|    37831114|       4|
|        1245442|    36150575|       4|
|        1239240|    38342291|       4|
|        1238286|    37842272|       4|
|        1312026|    37211746|       4|
|        1314306|    38119985|       4|
|        1243307|    38111176|       4|
|        1237959|    38709236|       3|
|        1191797|    37820597|       3|
|        1230518|    37873459|       3|
|        1312607|    36819460|       3|
|        1244442|    36228293|       3|
|        1242833|    36329295|       3|
|        1245740|    37716756|       3|
|        1165294|    36368622|       3|
|        1247738|    36507712|       3|
|        1083880|    37452884|       3|
|        1298764|    37544487|       3|
+---------------+------------+--------+
only showing top 20 rows

In [41]:
# multiple email messages for each statement request
(
    statements
    .where('ReferenceNumber = 1298764')
    .where('SRARObjectID = 37544487')
    .orderBy('CreatedDate')
    .toPandas()
)

,ReferenceNumber,JobNo,JobTier,StatementDate,DocumentHandle,ObjectID,CustVendorObjID,CustVendGroupObjID,CustVendGroupName,CustomerName,CID,CustVendName,CustVendNo,Volume,AccountsIdentified,Recon,EmailMessageID,CreatedDate,SRARObjectId,ZeroBalance
0,1298764,3676,NaN,2021-10-05,17803203,37980469,14709938,14709937,HOMEYER CONSULTING SERVICES,Cleveland Clinic Foundation,6187,HOMEYER CONSULTING SERVICES,256728,99998.99,0,0,2839D30F-5EAB-41DC-9A3A-8A0480890D7E,2021-10-05 15:35:27.360,37544487,NaN
1,1298764,3676,NaN,2021-10-05,17803213,37980491,14709938,14709937,HOMEYER CONSULTING SERVICES,Cleveland Clinic Foundation,6187,HOMEYER CONSULTING SERVICES,256728,99998.99,0,0,D7FB54ED-DE78-41E3-AEB4-B68626C388B3,2021-10-05 15:36:35.230,37544487,NaN
2,1298764,3676,NaN,2021-10-05,17803291,37981118,14709938,14709937,HOMEYER CONSULTING SERVICES,Cleveland Clinic Foundation,6187,HOMEYER CONSULTING SERVICES,256728,99998.99,0,0,DC7B43A6-1AAD-423D-B93F-B01809F79C47,2021-10-05 15:44:06.427,37544487,NaN

In [33]:
(
    activities
    .where('ObjectID = 36516658')
    .toPandas()
)

,ObjectID,CreatedDate,ReferenceNumber,CustomerVendorName,JobNumber,JobName,ContactType,ActivityUser,ActivityDate,FollowUpDate,STNID,Notes,Outcome,ActivityType,CustVendorObjectID,VendorContactObjectID,StatementRequestObjectID,CreatedBy,MessageID
0,36516658,2021-08-25 15:51:13.610,1225139,LABORATORY CORPORATION,3177,UC Health - 3177,None,Cierra Kilpatrick,2021-08-25,NaT,NaN,Called vendor left VM sent request,Left Voicemail,Called Vendor,17976586,31450240,36508590,CKILPATRICK,KPoKTEhLQb26wIuVk9yaBQ

In [52]:
# same reference number associated with multiple activities
(
    activities
    .groupBy('ReferenceNumber')
    .agg(approx_count_distinct('ObjectID').alias('count'))
    .where('count < 6')
    .orderBy(desc('count'))
    .show(5)
)

+---------------+-----+
|ReferenceNumber|count|
+---------------+-----+
|        1264187|    5|
|        1322174|    5|
|        1272310|    5|
|        1319956|    5|
|        1320660|    5|
+---------------+-----+
only showing top 5 rows

In [47]:
# max(ObjectID) or max(CreatedDate) implies
# last activity user; who is an employee; exclude set; query OnBase employees table
# look for last MessageID or last activity
activities.where('ReferenceNumber = 1319134').orderBy('CreatedDate').toPandas()

,ObjectID,CreatedDate,ReferenceNumber,CustomerVendorName,JobNumber,JobName,ContactType,ActivityUser,ActivityDate,FollowUpDate,STNID,Notes,Outcome,ActivityType,CustVendorObjectID,VendorContactObjectID,StatementRequestObjectID,CreatedBy,MessageID
0,38452428,2021-10-19 07:27:55.530,1319134,FLEXICARE INC,3946,Baptist Health South Florida - 3946,Email,Cindy Allen,2021-10-19,NaT,NaN,Email Initiated from the MassEmail System in BSAP,Sent Authorization Letter,None,26633186,38409764.0,38452425,SVC_WORKFLOW,None
1,38456075,2021-10-19 08:17:31.513,1319134,FLEXICARE INC,3946,Baptist Health South Florida - 3946,None,Workflow Service,2021-10-19,NaT,NaN,Statement Request sent successfully from Mass/...,Sent Authorization Letter,None,26633186,38409764.0,38452425,SVC_WORKFLOW,2lefFI4cQQeq8_LHwBKPOQ
2,38587028,2021-10-26 09:23:19.830,1319134,FLEXICARE INC,3946,Baptist Health South Florida - 3946,Email,Jessica Rinehart,2021-10-26,NaT,NaN,Email Initiated from the MassEmail System in BSAP,Sent Authorization Letter,None,26633186,38409764.0,38587025,SVC_WORKFLOW,None
3,38588590,2021-10-26 09:58:21.697,1319134,FLEXICARE INC,3946,Baptist Health South Florida - 3946,None,Workflow Service,2021-10-26,NaT,NaN,Statement Request sent successfully from Mass/...,Sent Authorization Letter,None,26633186,38409764.0,38587025,SVC_WORKFLOW,EKcNbJSsRFCcWzaKt7Ko2g
4,38698308,2021-10-28 11:13:27.283,1319134,FLEXICARE INC,3946,Baptist Health South Florida - 3946,N/A,OnBase Processing Service,2021-10-28,NaT,7205150.0,Statement received in the office. Status chang...,Statement Received,None,26633186,NaN,38587025,SVC_WORKFLOW,None

In [56]:
(
    activities
    .groupBy('ActivityUser')
    .count()
    .orderBy(desc('count'))
    .toPandas()
    .to_csv('/tmp/ActivityUser.csv', index=False)
)

In [60]:
# 2,255,239
(
    activities
    .where('ActivityUser is not null')
    .select('VendorContactObjectID', 'ActivityUser')
    .dropDuplicates()
    .count()
)

374207

In [61]:
vendors.limit(5).toPandas()

,CustVendorGroupNo,CustVendorNo,ContactType,TypePreferredContact,LastName,FirstName,FullName,Email,Phone,Fax,Title,Note,ExternalID,BSAPVCID,CID,CustomerName,CVObjectID,CustObjectID,ObjectID,CreatedDate,CreatedBy,BSAPVendorObjectID
0,52891,1192,Accounts Receivable,NaN,None,None,None,InvoiceInquiries@PremierInc.com,None,None,None,None,None,NaN,15249,Stanly Regional,412893,194771,1016896,2016-08-15 08:27:25.537,DKUESTER,1016896
1,50771,650,Accounts Receivable,NaN,None,None,None,Tabbie.Alvarado@henryschein.com,None,None,None,None,None,NaN,15249,Stanly Regional,408624,194771,1016899,2016-08-15 08:33:35.630,DKUESTER,1016899
2,53889,1521,Accounts Receivable,NaN,None,None,None,theracomar@icsconnect.com,(888) 882-9942,None,None,None,None,NaN,15249,Stanly Regional,414897,194771,1016843,2016-08-10 13:30:07.430,DKUESTER,1016843
3,80931,782,Accounts Receivable,NaN,Hanrahan,Lynne,Lynne Hanrahan,Lynne.hanrahan@esi.net,(757) 217-1381,None,Assistant Controller,None,None,NaN,2406,Sentara Healthcare,522962,515060,1017021,2016-08-24 11:01:55.053,DKUESTER,1017021
4,77228,103762,Accounts Receivable,NaN,None,None,None,scoleman@ajccpas.com,(804) 347-8839,None,None,None,None,NaN,2406,Sentara Healthcare,515472,515060,1017024,2016-08-24 11:04:54.023,DKUESTER,1017024

In [124]:
from pyspark.sql.functions import col, upper

# 39 found, 17 not found; 30% missing
(
    calls
        .where(col('direction') == 'outbound')
        .withColumn('user', upper('caller_name'))
    .join(
        activities.withColumn('user', upper('ActivityUser')),
        on='user',
        how='left_semi'
    )
    .select('caller_name')
    .dropDuplicates()
    .orderBy('caller_name')
    .show(30, truncate=False)
)

+------------------+
|caller_name       |
+------------------+
|Alexander Lee     |
|Annie Lewis       |
|Ashley Normand    |
|Ashley Pell       |
|Ashley Tran       |
|Ashton Sower      |
|Becky Williams    |
|Beth Rinehart     |
|Brandon Lothschutz|
|Brandon Rider     |
|Briana Louck      |
|Carla Roark       |
|Charley Taylor    |
|Chenoa Marklevitz |
|Christina Page    |
|Cierra Kilpatrick |
|Deborah Murphy    |
|Garett Zorb       |
|Heather McFadden  |
|Jamie Spurlock    |
|Janay Woodward    |
|Jessica Caggiano  |
|John Pauley       |
|Josephine Dagher  |
|Kajal Kumar       |
|Kelly Fedele      |
|Kerry Kelemen     |
|Mitchell Malling  |
|Nathan DeWindt    |
|Nathan Nofs       |
+------------------+
only showing top 30 rows

In [84]:
calls.where(col('caller_name') == 'Zarren Aylor').where(col('direction') == 'outbound').toPandas()

,next_page_token,page_size,total_records,from,to,id,user_id,call_type,caller_number,caller_number_type,caller_name,caller_number_source,callee_number,caller_location,callee_number_type,callee_number_source,callee_location,callee_name,direction,duration,result,waiting_time,date_time,path,has_recording,charge,voice_mail_id,has_voicemail,rate,call_id,owner_type,owner_id,owner_name,owner_extension_number,caller_did_number,caller_country_code,caller_country_iso_code,callee_did_number,callee_country_code,callee_country_iso_code,answer_start_time,call_end_time
0,MNI3JNNEPEyFrnxeuneeLaoRqOrnm1XNOQ2,300,2530,2022-05-09,2022-05-12,24588956-e5d4-4c36-b47a-ba316703de2c,iffygCz7SF2PTGvh4z6B9Q,pstn,654,1,Zarren Aylor,None,+18662395000,None,2,internal,United States,None,outbound,368,Call connected,NaN,2022-05-11 18:58:54,pstn,False,NaN,None,False,NaN,7096555281868698028,user,iffygCz7SF2PTGvh4z6B9Q,Zarren Aylor,654,+16163272654,1,US,+18662395000,1,US,NaT,2022-05-11 19:05:07

In [99]:
# spark.conf.set('spark.sql.adaptive.enabled', 'true')

# (
#     calls
#         .where(col('direction') == 'outbound')
#         .withColumn('user', upper('caller_name'))
#     .join(
#         activities.withColumn('user', upper('ActivityUser')),
#         on='user',
#         how='inner'
#     )
#     .join(
#         vendors,
#         on=activities['VendorContactObjectID'] == vendors['ObjectID'],
#         how='inner'
#     )
#     .limit(5)
#     .toPandas()
# )

In [101]:
vendors.limit(5).toPandas()

,CustVendorGroupNo,CustVendorNo,ContactType,TypePreferredContact,LastName,FirstName,FullName,Email,Phone,Fax,Title,Note,ExternalID,BSAPVCID,CID,CustomerName,CVObjectID,CustObjectID,ObjectID,CreatedDate,CreatedBy,BSAPVendorObjectID
0,52891,1192,Accounts Receivable,NaN,None,None,None,InvoiceInquiries@PremierInc.com,None,None,None,None,None,NaN,15249,Stanly Regional,412893,194771,1016896,2016-08-15 08:27:25.537,DKUESTER,1016896
1,50771,650,Accounts Receivable,NaN,None,None,None,Tabbie.Alvarado@henryschein.com,None,None,None,None,None,NaN,15249,Stanly Regional,408624,194771,1016899,2016-08-15 08:33:35.630,DKUESTER,1016899
2,53889,1521,Accounts Receivable,NaN,None,None,None,theracomar@icsconnect.com,(888) 882-9942,None,None,None,None,NaN,15249,Stanly Regional,414897,194771,1016843,2016-08-10 13:30:07.430,DKUESTER,1016843
3,80931,782,Accounts Receivable,NaN,Hanrahan,Lynne,Lynne Hanrahan,Lynne.hanrahan@esi.net,(757) 217-1381,None,Assistant Controller,None,None,NaN,2406,Sentara Healthcare,522962,515060,1017021,2016-08-24 11:01:55.053,DKUESTER,1017021
4,77228,103762,Accounts Receivable,NaN,None,None,None,scoleman@ajccpas.com,(804) 347-8839,None,None,None,None,NaN,2406,Sentara Healthcare,515472,515060,1017024,2016-08-24 11:04:54.023,DKUESTER,1017024

In [103]:
activities.limit(5).toPandas()

,ObjectID,CreatedDate,ReferenceNumber,CustomerVendorName,JobNumber,JobName,ContactType,ActivityUser,ActivityDate,FollowUpDate,STNID,Notes,Outcome,ActivityType,CustVendorObjectID,VendorContactObjectID,StatementRequestObjectID,CreatedBy,MessageID
0,42373858,2022-02-14 10:29:14.410,1204872,ONTARGETJOBS INC,3056,Sutter Health - 3056,None,Workflow Service,2022-02-14,NaT,NaN,None,Sent Authorization Letter,None,15863298,31446300,42372122,SVC_WORKFLOW,lo0kpojVRpK63Q0-tZt9FQ
1,42373853,2022-02-14 10:29:08.107,1281223,CARDIVA MEDICAL INC,3320,Dignity Health - 3320,None,Deborah Murphy,2022-02-14,NaT,NaN,None,None,None,26215461,29600706,36587007,DMURPHY,None
2,42373905,2022-02-14 10:30:21.083,1331383,"EDGE INFORMATION MANAGEMENT, INC.",4056,"Health First, Inc. - 4056",None,Jessica Rinehart,2022-02-14,NaT,NaN,None,None,None,42352516,42355958,42357889,JRINEHART,None
3,42374642,2022-02-14 10:43:59.057,1242775,FAVORITE NURSES FAVORITE TEMPS,3319,Catholic Health Initiatives - 3319,None,Deborah Murphy,2022-02-14,NaT,NaN,None,None,None,3490272,31401710,37795162,DMURPHY,None
4,42374788,2022-02-14 10:45:59.810,1324919,ARTHREX,4053,Hospital Sisters Health System - 4053,None,Dulce Reyes-Loredo,2022-02-14,NaT,NaN,None,None,None,41967124,41967126,41967127,DRLOREDO,None

In [107]:
vendors.where('ObjectID = 42355958').toPandas()

,CustVendorGroupNo,CustVendorNo,ContactType,TypePreferredContact,LastName,FirstName,FullName,Email,Phone,Fax,Title,Note,ExternalID,BSAPVCID,CID,CustomerName,CVObjectID,CustObjectID,ObjectID,CreatedDate,CreatedBy,BSAPVendorObjectID
0,622008,0000201204,Statement,0,None,None,None,leslien@edgeinformation.com,3217223343,None,None,Created by Vendor Scope Creation Process in PT...,5569985,NaN,5932,"Health First, Inc.",42352516,40528016,42355958,2022-02-12 13:39:56.767,SVC_WORKFLOW,42355958

In [109]:
requests.where('ObjectID = 42357889').toPandas()

,JobNo,JobTier,CustomerName,CustVendorID,VendorNo,CustVendorGroupID,WNC,StatementWNC,VendorGroupName,Volume,VolumeTier,VolumeLast12,RequestDate,ReferenceNumber,Status,RequestMethod,RequestType,Contact,RequesterFullName,RequestText,LastActivityDate,LastStatementReceivedDate,CreatedDate,CallsheetNo,ObjectID,CallerStatus,ReconStatus,CurrentAssigneeID,CurrentAssigneeName,EnteredReconDate,LastReconQueueName,LastReconQueueEntryDate,AccountsReceived,AccountsRequested,MessageID,VendorContactObjectID,WebsiteVendor,WNCSpecialHandling,NeedLeadVendor,VendorGroupPrimaryAccountType
0,4056,NaN,"Health First, Inc.",42352516,0000201204,42352514,0,0,"EDGE INFORMATION MANAGEMENT, INC.",156769.04,A,25583.87,2022-02-12,1331383,Superceded,MassEmail,Mass 1,corneliav@EdgeInformation.com,Cindy Allen,None,2022-02-14,NaT,2022-02-12 14:17:39.370,C-530106,42357889,Sent Authorization Letter,None,26528878,Becky Williams,NaT,None,NaT,NaN,NaN,gtJIEsdtSL-fsjP_PTphBA,42355958,0,0,0,Account Number

In [127]:
from pyspark.sql.functions import regexp_replace

(
    calls
    .where(lower('caller_name').rlike('alexander lee'))
    .where(col('direction') == 'outbound')
    .withColumn('phone', regexp_replace('callee_number', '[^0-9]', ''))
    # .where(col('phone').rlike('32172'))
    # .limit(5)
    .toPandas()
)

,next_page_token,page_size,total_records,from,to,id,user_id,call_type,caller_number,caller_number_type,caller_name,caller_number_source,callee_number,caller_location,callee_number_type,callee_number_source,callee_location,callee_name,direction,duration,result,waiting_time,date_time,path,has_recording,charge,voice_mail_id,has_voicemail,rate,call_id,owner_type,owner_id,owner_name,owner_extension_number,caller_did_number,caller_country_code,caller_country_iso_code,callee_did_number,callee_country_code,callee_country_iso_code,answer_start_time,call_end_time,phone
0,MNI3JNNEPEyFrnxeuneeLaoRqOrnm1XNOQ2,300,2530,2022-05-09,2022-05-12,a3a4bd2e-80a3-4ba2-95c3-d0f904644d54,D64izRM6RnOZ5a-RKYertQ,pstn,330,1,Alexander Lee,None,+18052922207,None,2,internal,California,None,outbound,52,Call connected,NaN,2022-05-11 18:52:01,pstn,False,NaN,None,False,NaN,7096553508047224391,user,D64izRM6RnOZ5a-RKYertQ,Alexander Lee,330,+16163303989,1,US,+18052922207,1,US,NaT,2022-05-11 18:53:03,18052922207
1,MNI3JNNEPEyFrnxeuneeLaoRqOrnm1XNOQ2,300,2530,2022-05-09,2022-05-12,dc2d3b81-6570-487d-bd1a-f49b52f1dab1,D64izRM6RnOZ5a-RKYertQ,pstn,330,1,Alexander Lee,None,+18008084239,None,2,internal,United States,None,outbound,194,Call connected,NaN,2022-05-11 18:02:14,pstn,False,NaN,None,False,NaN,7096540678979896409,user,D64izRM6RnOZ5a-RKYertQ,Alexander Lee,330,+16163303989,1,US,+18008084239,1,US,NaT,2022-05-11 18:05:31,18008084239
2,7ee6QDbVf6qsru4hbU6EaeKpiCbXSm283E4,300,2530,2022-05-09,2022-05-12,6903b80c-0c3e-4392-b9d9-0959c0bba09d,D64izRM6RnOZ5a-RKYertQ,pstn,330,1,Alexander Lee,None,+18005954165,None,2,internal,United States,None,outbound,587,Call connected,NaN,2022-05-10 19:32:50,pstn,False,NaN,None,False,NaN,7096192941247731710,user,D64izRM6RnOZ5a-RKYertQ,Alexander Lee,330,+16163303989,1,US,+18005954165,1,US,NaT,2022-05-10 19:42:40,18005954165
3,7ee6QDbVf6qsru4hbU6EaeKpiCbXSm283E4,300,2530,2022-05-09,2022-05-12,40314cd0-0d01-44a6-adcf-7e7e54ef9f7c,D64izRM6RnOZ5a-RKYertQ,pstn,330,1,Alexander Lee,None,+18005954165,None,2,internal,United States,None,outbound,49,Call connected,NaN,2022-05-10 19:31:47,pstn,False,NaN,None,False,NaN,7096192670664806029,user,D64izRM6RnOZ5a-RKYertQ,Alexander Lee,330,+16163303989,1,US,+18005954165,1,US,NaT,2022-05-10 19:32:39,18005954165
4,7ee6QDbVf6qsru4hbU6EaeKpiCbXSm283E4,300,2530,2022-05-09,2022-05-12,7b3f2763-c2af-4fae-9fab-9d9d7ad325fd,D64izRM6RnOZ5a-RKYertQ,pstn,330,1,Alexander Lee,None,+18005954165,None,2,internal,United States,None,outbound,39,Call connected,NaN,2022-05-10 19:31:02,pstn,False,NaN,None,False,NaN,7096192477391291586,user,D64izRM6RnOZ5a-RKYertQ,Alexander Lee,330,+16163303989,1,US,+18005954165,1,US,NaT,2022-05-10 19:31:44,18005954165
5,tjUj0qgudvPGr9kOQ9WqJtrhoaZyNAUBEc5,300,2530,2022-05-09,2022-05-12,ca4f5bae-2a4a-4f57-bcba-4378954e6ace,D64izRM6RnOZ5a-RKYertQ,pstn,330,1,Alexander Lee,None,+18005954165971440,None,2,internal,None,None,outbound,6,Call connected,NaN,2022-05-10 19:30:53,pstn,False,NaN,None,False,NaN,7096192438736570174,user,D64izRM6RnOZ5a-RKYertQ,Alexander Lee,330,+16163303989,1,US,18005954165971440,1,None,NaT,2022-05-10 19:31:00,18005954165971440
6,tjUj0qgudvPGr9kOQ9WqJtrhoaZyNAUBEc5,300,2530,2022-05-09,2022-05-12,f06dfae4-7731-4be9-a653-1477d0c5b7d1,D64izRM6RnOZ5a-RKYertQ,pstn,330,1,Alexander Lee,None,+18002874903,None,2,internal,United States,None,outbound,0,Call Cancel,NaN,2022-05-10 18:01:04,pstn,False,NaN,None,False,NaN,7096169293157822102,user,D64izRM6RnOZ5a-RKYertQ,Alexander Lee,330,+16163303989,1,US,+18002874903,1,US,NaT,2022-05-10 18:01:10,18002874903
7,tjUj0qgudvPGr9kOQ9WqJtrhoaZyNAUBEc5,300,2530,2022-05-09,2022-05-12,c9d719d5-c0f5-45fb-973b-a43e2898f0de,D64izRM6RnOZ5a-RKYertQ,pstn,330,1,Alexander Lee,None,+18002874903,None,2,internal,United States,None,outbound,0,Call Cancel,NaN,2022-05-10 17:58:15,pstn,False,NaN,None,False,NaN,7096168567308342654,user,D64izRM6RnOZ5a-RKYertQ,Alexander Lee,330,+16163303989,1,US,+18002874903,1,US,NaT,2022-05-10 17:58:20,18002874903
8,tjUj0qgudvPGr9kOQ9WqJtrhoaZyNAUBEc5,300,2530,2022-05-09,2022-05-12,c65f15b3-7471-4bdc-9399-b4f5ae023925,D64izRM6RnOZ5a-RKYertQ,pstn,330,1,Alexander Lee,None,+15153094851,None,2,internal,Iowa,None,outbound,2,Call connected,NaN,2022-05-10 17:57:52,pstn,False,NaN,None,False,NaN,7096168468524088705,user,D64izRM6RnOZ5a-RKYertQ,Alexander Lee,330,+16163303989,1,US,+15153094851,1,US,NaT,2022-05-10 17:57:55,15153094851
9,tjUj0qgudvPGr9kOQ9WqJtrhoaZyNAUBEc5,300,2530,2022-05-09,2022-05-12,f0f2185d-2ecd-48b5-82e0-084a7cf1792c,D64izRM6RnOZ5a-RKYertQ,pstn,330,1,Alexander Lee,None,+15153094809,None,2,internal,Iowa,None,outbound,1,Call connected,NaN,2022-05-10 17:55:58,pstn,False,NaN,None,False,NaN,7096167978897813397,user,D64izRM6RnOZ5a-RKYertQ,Alexander Lee,330,+16163303989,1,US,+15153094809,1,US,NaT,2022-05-10 17:56:01,15153094809
10,tjUj0qgudvPGr9kOQ9WqJtrhoaZyNAUBEc5,300,2530,2022-05-09,2022-05-12,94752e95-c692-40ca-934a-59a4217cd169,D64izRM6RnOZ5a-RKYertQ,pstn,330,1,Alexander Lee,None,+18002874903,None,2,internal,United States,None,outbound,0,Call Cancel,NaN,2022-05-10 17:55:37,pstn,False,NaN,None,False,NaN,7096167888703504471,user,D64izRM6RnOZ5a-RKYertQ,Alexander Lee,330,+16163303989,1,US,+18002874903,1,US,NaT,2022-05-10 17:55:43,18002874903
11,tjUj0qgudvPGr9kOQ9WqJtrhoaZyNAUBEc5,300,2530,2022-05-09,2022-05-12,fc3c7303-5ffa-4e3b-86c1-72c6da4b8239,D64izRM6RnOZ5a-RKYertQ,pstn,330,1,Alexander Lee,None,+15153094809,None,2,internal,Iowa,None,outbound,2,Call connected,NaN,2022-05-10 17:55:24,pstn,False,NaN,None,False,NaN,7096167832868945663,user,D64izRM6RnOZ5a-RKYertQ,Alexander Lee,330,+16163303989,1,US,+15153094809,1,US,NaT,2022-05-10 17:55:27,15153094809
12,fKqzaJ2CcJAhySFkea6pHlIwCuUehSvMj36,300,2530,2022-05-09,2022-05-12,a1f4a011-2b9e-4809-9295-07d134fec789,D64izRM6RnOZ5a-RKYertQ,pstn,330,1,Alexander Lee,None,+18002874903,None,2,internal,United States,None,outbound,0,Call Cancel,NaN,2022-05-10 14:40:57,pstn,False,NaN,None,False,NaN,7096117723485476840,user,D64izRM6RnOZ5a-RKYertQ,Alexander Lee,330,+16163303989,1,US,+18002874903,1,US,NaT,2022-05-10 14:41:03,18002874903
13,fKqzaJ2CcJAhySFkea6pHlIwCuUehSvMj36,300,2530,2022-05-09,2022-05-12,adbe7948-c75e-4008-9c6a-a3904e7b238a,D64izRM6RnOZ5a-RKYertQ,pstn,330,1,Alexander Lee,None,+15153094809,None,2,internal,Iowa,None,outbound,5,Call connected,NaN,2022-05-10 14:40:41,pstn,False,NaN,None,False,NaN,7096117654766053823,user,D64izRM6RnOZ5a-RKYertQ,Alexander Lee,330,+16163303989,1,US,+15153094809,1,US,NaT,2022-05-10 14:40:48,15153094809
14,8Mx2nBLlk8mE3GC0quRLfrWaiWW8Tl4eGn7,300,2530,2022-05-09,2022-05-12,010874d0-65e5-41eb-b189-2e6d4e496104,D64izRM6RnOZ5a-RKYertQ,pstn,330,1,Alexander Lee,None,+18887080808,None,2,internal,United States,None,outbound,731,Call connected,NaN,2022-05-09 19:43:23,pstn,False,NaN,None,False,NaN,7095824574787703650,user,D64izRM6RnOZ5a-RKYertQ,Alexander Lee,330,+16163303989,1,US,+18887080808,1,US,NaT,2022-05-09 19:55:37,18887080808

In [ ]:
spark.stop()